<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient List</title>
</head>
<body>
<h1>Patient List</h1>

<table width="70%">
    <tr>
        <th align="left">Family Name</th>
        <th align="left">Given Name</th>
        <th align="left">Date Of Birth</th>
        <th align="left">Gender</th>
        <th align="left">Hospital ID</th>
        <th align="left">NHS Number</th>
        <th align="left">Invited?</th>
        <th align="left">Registered</th>
        <th align="left">Discharged</th>
        <th align="center">Details</th>
    </tr>
    <tr th:each="item : ${patients}">
        <td th:text="${item.familyName}"></td>
        <td th:text="${item.givenName}"></td>
        <td th:text="${#dates.format(item.dateOfBirth,'dd-MMM-yyyy')}"></td>
        <td th:text="${item.gender}"></td>
        <td th:text="${item.hospitalID}"></td>
        <td th:text="${item.nhsNumber}"></td>
        <td><img th:if="${item.whenInvited} != null" th:src="@{'./images/invited.jpg'}" width="40px" alt="Yes"></td>
        <td><img th:if="${item.whenRegistered} != null" th:src="@{'./images/registered.jpg'}" width="40px" alt="Yes"/></td>
        <td><img th:if="${item.whenDischarged} != null" th:src="@{'./images/discharged.jpg'}" width="40px" alt="Yesy"/></td>
        <td><a th:href="@{/patientdetail/{id}(id=${item.entityId})}">
            <img th:src="@{'./images/search.jpg'}" width="40px" alt="Get Details"/></a> </td>
    </tr>
</table>
</body>
</html>